@import url(./whyBuildStyle.css);
@import url(./useTypeStyle.css);
@import url('https://fonts.googleapis.com/css?family=Heebo:400, 800|Montserrat');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: #1a1a1a;
}

#homePage {
    overflow: hidden;
}

/* grid */

.gridParent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
}

.navigation {
    grid-column: 1 / -1;
}

.logoBig {
    grid-column: 1;
}

.pageTitle {
    grid-column: 2 / span 7;
}



/* nav */

.mainNav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    /* width: 80%; */
    /* background: black; */
    padding: 0 50px 8px 0;
}

.mainNav ul li {
    display: grid;
    align-items: start;
    list-style: none;
    display: inline-grid;
    padding-right: 15px;
    margin: 0;
}

.mainNav ul li a {
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-size: .875em;
    text-transform: uppercase;
    padding-right: 5px;
    display: inline-block;

}

.mainNav ul li a p {
    margin: 0;
}

.mainNav ul li:not(:first-child) a {
    color: #F94F57;
    border-bottom: solid 1px #F94F57;
    border-right: solid 1px #F94F57;
}

.mainNav ul li:first-child a {
    padding: 0;
    color: white;
}

.mainNav ul li:not(:first-child) a:hover, {
    border-bottom: solid 1px blueviolet;
    border-right: solid 1px blueviolet;
    color: blueviolet;
}

.mainNav ul li a.active {
    border-bottom: solid 1px blueviolet;
    border-right: solid 1px blueviolet;
    color: blueviolet;
}

.landingPage {
    width: 100vw;
    height: 100vh;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../imgs/backImg.jpg");
    background-size: cover;
    border: solid 64px #000000;
}

.solidBack {
    background: rgba(0, 0, 0, .75);
    transform:
        skew(-18deg);
    -webkit-transform:
        skewX(-18deg);
}

.solidBack.left {
    width: 55%;
    height: 100%;
    margin-left: -20%;
    float: left;
}

.solidBack.right {
    width: 55%;
    height: 100%;
    margin-left: 78%;
    z-index: 0;
}

.mainTitle {
    z-index: 98;
    padding-left: 55px;
}

/* typography */

.mainTitle p {
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 8vw;
    padding: 0;
    color: white;
}

.mainTitle a {
    text-decoration: none;
    color: blueviolet;
}

h1 {
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3vw;
    border-bottom: solid 3px blueviolet;
    color: blueviolet;
    margin: 30px 0;
    padding: 0;
}

h3 {
    font-family: 'Heebo', sans-serif;
    font-size: 2em;
    color: #ffffff;
}

p, .compareList li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    color: #ffffff;

}
.purple {
    color: blueviolet
}

.pink {
    color: #F94F57;
}