.userTypeIcon {
    width: 90px;
    /* min-width: 90px; */
}

/* grid */

.useTypeText {
    grid-column: 3 / span 8;
}

.considerations {
    grid-column: 3 / span 6;
    list-style: none;
}

.userType {
    text-align: center;
    padding: 0 25px;
}

.basic {
    grid-column: 2 / span 3;
}

.gamer {
    grid-column: span 3;
}

.professional {
    grid-column: span 3;
}