.userTypeIcon {
    width: 120px;
}

/* grid */
.useTypeText {
    grid-column: 3 / span 8;
}

.userType {
    text-align: center;
    padding: 0 25px;
}

.basic {
    grid-column: 3 / span 2;
}

.gamer {
    grid-column: span 2;
}

.professional {
    grid-column: span 2;
}
